<div class="content">


    <div class="page-content-wrapper ">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Category Management</h4>
                            <a href="/admin/add-category"
                                class="btn btn-gradient-primary waves-effect waves-light mt--38px mb-20px"
                                style="float:right;"><i class="mdi mdi-account mr-2"></i>Add Category</a>




                            <table id="datatable-buttons"
                                class="table table-striped table-bordered dt-responsive nowrap"
                                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>No</th>

                                        <th>Category</th>
                                        <th>Category id</th>

                                        <th style="text-align:center ;">Action</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each category}}
                                    <tr>
                                        <td>{{@index}}</td>

                                        <td>{{this.category}}</td>
                                        <td>{{this._id}}</td>

                                        <td>
                                            <a href="/admin/update-category/{{this._id}}"
                                                class="btn btn-outline-info btn-round waves-effect waves-light"><i
                                                    class="mdi mdi-send mr-2"></i>Edit</a>
                                            <a href="/admin/delete-category/{{this._id}}"
                                                class="btn btn-outline-danger btn-round waves-effect waves-light"><i
                                                    class="mdi mdi-power mr-2"></i>Delete</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div><!-- container -->

    </div> <!-- Page content Wrapper -->
</div> <!-- content -->